.t-head {
  display: flex;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  background-color: #106cf5;
  color: #fff;

  .id {
    width: 100px;
    text-align: center;
    border-right: 1px solid #666;
  }

  .company {
    width: 200px;
    text-align: center;
    border-right: 1px solid #666;
  }

  .process {
    flex: 1;
    text-align: center;
  }

  .state {
    width: 100px;
    text-align: center;
    border-left: 1px solid #666;
  }

  // .id,.process,.state {
  //   border: 1px solid #000;
  // }
}